rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /journals/{journalId} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if true;
    }

    match /posters/{posterId} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if true;
    }
  }
}
