rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /journals/{journalId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.contentType == 'application/pdf'
                   && request.resource.size < 20 * 1024 * 1024;
      allow delete: if true;
    }

    match /posters/{posterId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.contentType == 'application/pdf'
                   && request.resource.size < 20 * 1024 * 1024;
      allow delete: if true;
    }
  }
}
